body {
    color: white;
    background-color: black;
    font-family: 'Inter Tight', sans-serif;
    padding: 5% 5%;
}

.title {
    font-size: 60px;
    letter-spacing: 1vw;
    animation: letterSpace 2s ease-in-out;
}

@keyframes letterSpace {
    from {
        letter-spacing: 0;
    } to {
        letter-spacing: 1vw;
    }
    
}

/* Navigation */

nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
}
nav a {
    letter-spacing: 0.2vw;
    padding-right:0;
    font-weight: bold;
    color: white;
    text-decoration: none;
    width: 50%;
}

nav a:hover {
    color: #FFD700;
    animation: hoverAnimation 1s ease-in;
}

nav a svg {
    transform: translateY(7px);
    animation: floatAnimation 3s ease-in-out infinite;
    fill: white;
}

@keyframes floatAnimation {
    0%, 100% {
        transform: translate(7px, 7px);
    } 50% {
        transform: translate(0px, 7px);
    }
}

@keyframes hoverAnimation {
    from {
        letter-spacing: 0;
        color: white;
    } to {
        letter-spacing: 0.2vw;
        color:#FFD700;
    }
}