body{
    color: #d10206;
    background-color: white;
    font-family: 'Inter Tight', sans-serif;
    margin: 30px;
    overflow-y: auto; /* Enabling vertical scrolling */
    overflow: hidden; /* Hiding scroll bar */
}

.main-container{
    height: 60vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-color: transparent transparent;
    
}

.main-container::-webkit-scrollbar {
    width: 0;
}

.main-container::-webkit-scrollbar-track {
    background: transparent;
}

.container {
    padding: 10px 10px;
    height: 60vh;
    scroll-snap-align: start;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


h1 {
    font-weight: 700px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 50px;

}

.title {
    font-size: 65px;
}

nav {
    display: flex;
    padding: 10px;
    justify-content: center;
}

nav a {
    color: red;
    text-decoration: none;
    padding: 10px 30px;
}

nav a:hover {
    color: #333;
} 