/* GENERAL HTML STYLING */
body{
    color: white; /* #d10206; alt color*/
    background-color: black;
    font-family: 'Inter Tight', sans-serif;
    margin: 3%;
    /* overflow-y: auto; Enabling vertical scrolling */
    /* overflow: hidden; Hiding scroll bar */
    background-image: linear-gradient(rgba(255, 255, 255, 0.329) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.329) 1px, black 1px);
    background-size: 390px 330px;
}

img {
    display: inline-block;
    margin: 15%;
}


/* SCREENS' RESPONSIVENESS */
@media screen and (max-width: 600px) { 
    .title {
        letter-spacing: 1%;
        font-size: 4vw;
    }
    .container {
        margin-bottom: 50%;
    }
    
}

/* CONTENT EXCLUDING NAV BAR */
.content {
    margin-top: 6%;
    padding: 5%;
}
.right-align {
    text-align: right;
}

/* TITLE */

.style-title {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    font-weight: 600;
    letter-spacing: 1.25vw;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    animation: fadeIn 2s forwards;
}

.horizontal {
    animation: letterSpacingAnimation 2s ease-out;
}

.vertical .letter {
    letter-spacing: 1.25vw;
}

@keyframes letterSpacingAnimation {
    from {
        letter-spacing: 0;
    } to {
        letter-spacing: 1.25vw;
    }
}

/* MAIN CONTAINER */
.main-container{
    height: 100vh;
    /* scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-color: transparent transparent; */
    
}

.main-container::-webkit-scrollbar {
    width: 0;
}

.main-container::-webkit-scrollbar-track {
    background: transparent;
}

/* CONTAINER */
.container {
    padding: 20px;
    height: 60vh;
    /* scroll-snap-align: start; */
    animation: fadeIn 1.7s ease-in-out forwards;
    margin-bottom: 100%;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* HEADING */
h1 {
    font-size: 45px;
    font-weight: 700px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-size: 20px;
    text-align: center;
}

h3 {
    color: #FFD700;
}

p {
    margin-bottom:100px;
}




/* NAVIGATION BAR */

/* EXPERIMENTING NAV */

.navbar {
    width: 5rem;
    height: 100vh; 
    position: fixed;
    background-color: aliceblue;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-items {
    width: 100%;
}

.nav-items:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: #FFD700;
    filter: grayscale(100%) opacity(0.7);
    text-decoration: none;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: gainsboro;
    color:#FFD700;
    animation: fadingOpacity ease-in 2s;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

@keyframes fadingOpacity {
    from {
        opacity: 0.5;
    } to {
        opacity: 1;
    }
}

/* Navigation on Right Side */
/* nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: right;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    letter-spacing: 10px;
    color: #FFD700;
    animation: hoverSpacingAnimation 2s ease-out;  Debating on keeping, may remove 
} */



/* BEFORE */

/* nav {
    display: flex; 
    padding: 10px;
    justify-content: center;
}

nav a {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 1% 3%;
    font-weight: bold;
}

nav a:hover {
    letter-spacing: 10px;
    color: #FFD700;
    animation: hoverSpacingAnimation 2s ease-out;
}

*/

@keyframes hoverSpacingAnimation {
    from {
        letter-spacing: 0;
    } to {
        letter-spacing: 10px;
    }
}

/* RIGHT CORNER CAPTION */
/* .caption-text {
    position: absolute;
    top: 200px;
    right: 150px;
    padding: 5px;
    font-size: 12px;
    opacity: 0;
    animation: fadeOut 10s ease-in;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
} */