body{
    color: #d10206;
    background-color: white;
    font-family: 'Inter Tight', sans-serif;
    margin: 20px;
}


h1 {
    font-weight: 700px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 50px;
}

.title {
    font-size: 50px;
    letter-spacing: 30px;
}

nav {
    display: flex;
    padding: 5px;
    justify-content: center;
}

nav a {
    color: red;
    text-decoration: none;
    padding: 10px 30px;
}

nav a:hover {
    color: #333;
} 